@page
@model CRUD.Pages.Products.IndexModel
@{
}

<div class="d-flex flex-row"></div>
<h2 style="margin-bottom: 2em">All current products</h2>


@{
    if (TempData["WarningMessage"] != null)
    {
        <h3 style="color:red;">@TempData["WarningMessage"]</h3>
    }
}

<a asp-page="CreateProduct" class="btn btn-outline-primary" style="margin-bottom: 1em"><i class="bi bi-plus-circle"></i> Create Product</a>
@{
    <table class="table table-bordered table-striped">
    <thead>
    <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    </tr>
    </thead>

    <tbody>
                @foreach (var item in Model.Products)
                {
                <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
                    <td>@item.Description
                        <a class="btn btn-danger float-lg-end" asp-route-id="@item.ProductId" asp-page="DeleteProduct"><i class="bi bi-pencil-square"></i> Delete</a>
                    <a class="btn btn-primary float-lg-end" style="margin-right:1em" asp-route-id="@item.ProductId" asp-page="UpdateProduct"><i class="bi bi-pencil-square"></i> Edit</a>
                    </td>
                </tr>
                }
    </tbody>

    </table>




}